*{
    box-sizing: border-box;
}

body{
    background-color: rgb(9, 11, 14);
    margin: 0px;
    padding: 0px;
    font-variant: small-caps;
    letter-spacing: 0.1em;
    color: rgb(88, 231, 231);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0,0,0);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.myname{
    font-size: 2.5rem;
    margin: .8rem;
}
.subnav ul{
    margin: 0px;
    padding: 0px;
    display: flex;
}
.subnav li{
    list-style: none;
}
.subnav a,.resume a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 1rem;
    font-size: 1.2rem;
}
.subnav li:hover{
    background-color: #555;
    border-radius: 10px;
}
.resume a{
    text-align: center;
    color: rgb(39, 158, 158);
    background-color: white;
    border-radius: 10px;
}
.resume a:hover{
    color: white;
    background-color: rgb(36, 92, 36);
}
.totoggle{
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
}
.totoggle .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.bodyy{
    margin-top: 70px;
    padding-top: 10px;
    font-variant: ordinal;
}
.bodyy p{
    text-align: center;
    font-size: 2.3rem;
}
.photo{
    width: 700px;
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 2.1rem;
    grid-template-columns: repeat(2,1fr);
}
.photo img{
    width: 270px;
    height: 300px;
    border-radius: 50px;
}
.photo div{
    padding: 30px;
}
.resume{
    margin: auto;
}
@media (max-width: 674px){
    .totoggle{
        display: flex;
    }
    .subnav{
        display: none;
        width: 100%;
    }
    .nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .subnav ul{
        width: 100%;
        flex-direction: column;
    }
    .subnav li{
        text-align: center;
    }
    .subnav a{
        padding: 0.5rem 1rem;
    }
    .subnav.active{
        display: flex;
        padding-bottom: 20px;
    }
    .bodyy{
        font-variant: 'Candara';
    }
    .photo{
        width: 300px;
        margin: auto;
        grid-template-columns: repeat(1,1fr);
    }
}